<div class="card">
  <%= link_to "", race_path(race), class: "card-link"%>
  <div class="card-picture" style="background-image: linear-gradient(270deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= race.image_race.nil? ? race.photo : race.image_race %>);">
    <div class="card-format">
        <div class="card-top">
          <div class="card-sport">
            <%= race.format %>
          </div>
          <br>
          <div class="card-date">
            <%= race.starts_at.strftime("%d-%b-%y") %>
          </div>
        </div>

      <div class="card-wishlist">
        <%= form_for race, url: race_like_path(race), method: :post do |f| %>
          <%= button_tag type: "submit", class: "like-button-form" do %>
            <i class="<%= current_user && current_user.voted_for?(race) ? "fas" : "far" %> fa-heart"></i>
          <% end %>
        <% end %>
        <%# link_to race_like_path(race) do %>
        <%# end %>
      </div>

    </div>
    <div class="card-bottom">
      <div class="card-name">
        <strong><%= race.name %></strong>
      </div>
    </div>
      <div class="card-participants">
        <%= race.available_slots.empty? ? "" : "#{race.available_slots} participants"  %>
      </div>
  </div>
  <div class="card-description">
    <div class="card-friends" >
      <% voters = race.voters_excluding_self(current_user) %>
      <% voters.each do |user| %>
        <% if user.facebook_picture_url %>
          <%= image_tag user.facebook_picture_url, class: "card-avatar" %>
        <% else %>
          <%= image_tag "runner.jpg", class: "card-avatar" %>
        <% end %>
      <% end %>
     <p class="card-avatar-text"> <%= pluralize(voters.size, "ami") %> </p>
    </div>
  </div>
</div>
