<div class="card">
  <%= link_to "", race_path(race), class: "card-link"%>
  <div class="card-picture" style="background-image: linear-gradient(270deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= race.image_race.nil? ? race.photo : race.image_race %>);">
    <div class="card-format">
        <div class="card-top">
          <div class="card-sport">
            <%= race.format %>
          </div>
          <br>
          <div class="card-date">
            <%= race.starts_at.strftime("%d-%b-%y") if race.starts_at %>
          </div>
        </div>
      <div class="card-btn-top-right">
        <% if current_user != nil and current_user.voted_for? race and race.starts_at !=nil and race.starts_at < Date.today %>
          <div class="card-review">
            <%= link_to race_path(race, anchor: "show-redirection") do |f| %>
              <%= button_tag type: "submit", class: "like-button-form" do %>
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHWSURBVDhPzZPPK0RRFMcfQjZ+z7w7Y2LDRiykkObemzGFP2CWLKxspBRLCzsLpWShsSSRlUix8aOUFUox/8Pkx7w3lp7vuR3FeM+PZsGnXu+ec+/9nnPPudf6c3IR3ejacpHN4vCsVJljywM3IofYVRx5ISdcIbfYLA43pAXEDpHhJQmz+3voWI/N8bp8Q3/UsXWHI3TKESqNup3lIkp67e0VEN0vFPUsq5SHH3GFGnFtlcG3A6E1fNN5O97L04ZCUewZw7oLX1FHyAUnHB9kM5CXWF8Vss6SEMRXs/U91Tz1EWR2/NI6XMmmOcqzGGgpjO7Yah6ZzT2FZD+7PvPQomsRcY9NAxqxba4K/ux6u4unCFLCLn+4AdNsGpDFjemwre7YZTlhNQV7nM1gkMUGFneyiY06iQBX8B9RMHZTWdafGlUbm/54Vnc5srl+OwaLXeREPGQWvAONO6frxaY/qFMCmSyZ8RdiBM3xMBgUeSUnpAoSoy67UdWF485i7S27/aHFyPCSHv17sXws0UTFRyk28T+moKZx4YRtNgYBAU1RSYxeBcYzEDhBCfB29STdQ176M5DBMj4PIhkUfNcVepTuJE//DuoqMkuTyH1dsobd/wXLegUm+dVJCS2LsgAAAABJRU5ErkJggg==">

              <% end %>
            <% end %>
            <%# link_to race_like_path(race) do %>
            <%# end %>
          </div>
        <% end %>
        <div class="card-wishlist">
          <%= form_for race, url: race_like_path(race), method: :post do |f| %>
            <%= button_tag type: "submit", class: "like-button-form" do %>
              <i class="<%= current_user && current_user.voted_for?(race) ? "fas" : "far" %> fa-heart"></i>
            <% end %>
          <% end %>
          <%# link_to race_like_path(race) do %>
          <%# end %>
        </div>
      </div>

    </div>
    <div class="card-bottom">
      <div class="card-name">
        <strong><%= race.name %></strong>
      </div>
    </div>
      <div class="card-participants">
        <%= race.available_slots.nil? ? "" : "#{race.available_slots} participants"  %>
      </div>
  </div>
  <div class="card-description">
    <div class="card-friends" >
      <% voters = race.voters_excluding_self(current_user) %>
      <% voters.each do |user| %>
        <% if user.facebook_picture_url %>
          <%= image_tag user.facebook_picture_url, class: "card-avatar" %>
        <% else %>
          <%= image_tag "runner.jpg", class: "card-avatar" %>
        <% end %>
      <% end %>
     <p class="card-avatar-text"> <%= pluralize(voters.size, "ami") %> </p>
    </div>
  </div>
</div>
