<!-- <h1>Races#show</h1>
<p>Find me in app/views/races/show.html.erb</p>
<br> -->
<div class="banner-show" style="background-image: url(<%= @race.image_race.nil? ? @race.photo : @race.image_race %>);">
  <!-- 'http://res.cloudinary.com/dpthh89hv/image/upload/v1521554873/endurace/banner_bike.jpg' -->
  <div class="banner-show-title-box">
    <h1>
      <%= @race.name %>
    </h1>
    <h2>
      <%= @race.sport %>
    </h2>
    <h3>
      <%= @race.format %>
    </h3>
  </div>
  <div class="banner-show-btn-container">
    <%= link_to race_like_path(@race), class: "color-link" do %>
      <div class="banner-show-btn ">

          <%= form_for @race, url: race_like_path(@race), method: :post do |f| %>
            <%= button_tag type: "submit", class: "like-button-form" do %>
              <i class="<%= current_user && current_user.voted_for?(@race) ? "fas" : "far" %> fa-heart"></i>
            <% end %>
          <% end %>

    <% end %>
        <p class="dont-wrap">Ma liste</p>
      </div>
    <div class="banner-show-btn">
      <i class="far fa-share-square color-link"></i>
      <p>Partager</p>
    </div>
    <%= link_to @race.url, class: "no-underline-link" do %>
      <div class="banner-show-btn">
        <i class="far fa-arrow-alt-circle-right color-link"></i>
        <p>M'inscrire</p>
      </div>
     <% end %>
  </div>
</div>
<div class="container-show">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="column-container">
        <div class="metrics-show">
          <h2>
            Chiffres clés
          </h2>
            <div class="metrics-container">
              <div class="metrics-logo-container">
                <%= image_tag('swim-logo.png', class: "avatar-show") %>
                <p><%= @race.distance_swim %> km</p>
              </div>
              <div class="metrics-logo-container">
                <%= image_tag('bike-logo.png', class: "avatar-show") %>
                <p><%= @race.distance_bike %> km</p>
              </div>
              <div class="metrics-logo-container">
                <%= image_tag('run-logo.png', class: "avatar-show") %>
                <p><%= @race.distance_run %> km</p>
              </div>
            </div>
        </div>
        <div class="description-show">
          <h2>
            Description
          </h2>
          <p>
            <%= truncate(@race.description, length: 600, separator: ' ', omission: ' (...)') %>
          </p>
        </div>
        <%= link_to @race.url %>
      </div>
    </div>
      <div class="col-xs-12 col-sm-6">
        <div class="column-container">
          <div class="map-show">
            <h2>
              Location
            </h2>
            <div class="map-show-container">
              <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=8&size=575x250&sensor=false&maptype=roadmap&markers=color:red|#{@race.address}&key=#{ENV['GOOGLE_API_BROWSER_KEY']}", id: "map-pic" %>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-12 col-sm-12">
      <div class="section-container">
        <h2>
          Topographie
        </h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="section-container">
        <h2>
          Commentaires
        </h2>
      </div>
    </div>
  </div>
</div>
<%#= link_to "Back", href="javascript:history.back()", class: "navbar-wagon-item navbar-wagon-link" %>
