<!-- <h1>Races#show</h1>
<p>Find me in app/views/races/show.html.erb</p>
<br> -->
<div class="banner-show" style="background-image: url(<%= @race.image_race.nil? ? @race.photo : @race.image_race %>);">
  <!-- 'http://res.cloudinary.com/dpthh89hv/image/upload/v1521554873/endurace/banner_bike.jpg' -->
  <div class="banner-show-title-box">
    <h1>
      <%= @race.name %>
    </h1>
    <h2>
      <%= @race.sport %>
    </h2>
    <div class="banner-show-bottom">
      <h3>
        <%= @race.format %>
      </h3>
      <div class="show-friends" >
        <% voters = @race.voters_excluding_self(current_user) %>
          <% voters.each do |user| %>
          <% if user.facebook_picture_url %>
            <%= image_tag user.facebook_picture_url, class: "show-avatar" %>
          <% else %>
            <%= image_tag "runner.jpg", class: "show-avatar" %>
          <% end %>
        <% end %>
        <p class="show-avatar-text"> <%= pluralize(voters.size, "friend") %> </p>
      </div>
    </div>
  </div>
  <div class="banner-show-btn-container">

    <%= link_to @race.registration_url.nil? ? @race.url : @race.registration_url, target: "_blank", class: "no-underline-link" do %>
      <div class="banner-show-btn2">
        <i class="far fa-arrow-alt-circle-right color-link"></i>
        <p class="dont-wrap">M'inscrire</p>
      </div>
    <% end %>

    <%= link_to race_like_path(@race), class: "color-link" do %>
      <div class="banner-show-btn1">
        <%= form_for @race, url: race_like_path(@race), method: :post do |f| %>
          <%= button_tag type: "submit", class: "like-button-form" do %>
            <i class="<%= current_user && current_user.voted_for?(@race) ? "fas" : "far" %> fa-heart"></i>
            <p class="dont-wrap">Ma liste</p>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%= link_to '#' do %>
      <div class="banner-show-btn1">
        <i class="far fa-share-square color-link"></i>
        <p class="dont-wrap">Partager</p>
      </div>

    <% end %>
  </div>
</div>
<div class="container-show">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="column-container">
        <div class="metrics-show">
          <h2>
            Chiffres clés
          </h2>
            <div class="metrics-container">
              <div class="metrics-logo-container">
                <%= image_tag('swim-logo.png', class: "avatar-show") %>
                <p><%= @race.distance_swim %> km</p>
              </div>
              <div class="metrics-logo-container">
                <%= image_tag('bike-logo.png', class: "avatar-show") %>
                <p><%= @race.distance_bike %> km</p>
              </div>
              <div class="metrics-logo-container">
                <%= image_tag('run-logo.png', class: "avatar-show") %>
                <p><%= @race.distance_run %> km</p>
              </div>
            </div>
        </div>
        <div class="description-show">
          <h2>
            Description
          </h2>
          <p>
            <%= truncate(@race.description, length: 600, separator: ' ', omission: ' (...)') %>
          </p>
        </div>
        <%= link_to @race.url %>
      </div>
    </div>
      <div class="col-xs-12 col-sm-6">
        <div class="column-container">
          <div class="map-show">
            <h2>
              Location
            </h2>
            <div class="map-show-container">
              <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=8&size=575x250&sensor=false&maptype=roadmap&markers=color:red|#{@race.address}&key=#{ENV['GOOGLE_API_BROWSER_KEY']}", id: "map-pic" %>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-12 col-sm-12">
      <div class="section-container">
        <h2>
          Topographie
        </h2>
      </div>
      <% if @race.sport == "Triathlon" %>
        <div class="tabs">
          <a class="tab active" data-target="tab-swim">
            <h3>Natation</h3>
            <p>1.9 km</p>
          </a>
          <a class="tab" data-target="tab-running">
            <h3>Running</h3>
            <p>83 km</p>
          </a>
          <a class="tab" data-target="tab-biking">
            <h3>Velo</h3>
            <p>21.1 km</p>
          </a>
        </div>
        <div class="topo-sport-container">
          <div class="topo-show active" id="tab-swim">
            <iframe class="topo-show-swimming" width="800px" height="650px" src="<%= @race.swimming_gpx_url %>" id: "topo-pic" frameborder="0" allowfullscreen ></iframe>
          </div>
          <div class="topo-show" id="tab-biking" >
            <iframe class="topo-show-biking" width="800px" height="650px" src="<%= @race.biking_gpx_url %>" id: "topo-pic" frameborder="0" allowfullscreen ></iframe>
          </div>
          <div class="topo-show" id="tab-running">
              <iframe class="topo-show-running" width="800px" height="650px" src="<%= @race.running_gpx_url %>" id: "topo-pic" frameborder="0" allowfullscreen ></iframe>
          </div>
        </div>
      <% elsif @race.distance_run == "Running"%>
          <iframe class="topo-show-running" width="800px" height="650px" src="<%= @race.running_gpx_url %>" id: "topo-pic" frameborder="0" allowfullscreen ></iframe>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="section-container">
        <h2>
          Commentaires
        </h2>
      </div>
    </div>
  </div>
</div>
<%#= link_to "Back", href="javascript:history.back()", class: "navbar-wagon-item navbar-wagon-link" %>
