<div class="banner-absolute-container">
  <video autoplay loop class="fillWidth">
    <source src='<%= asset_path "Keep_Running.mp4"%>' type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <!-- <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser. -->
  </video>
  <div class="banner">
    <div class="banner-content">
      <h1>ENDURACE</h1>
      <h2>
        <span id="banner-typed-text"></span>
      </h2>
<!--       <div class="home-form"> -->
        <%= form_tag(races_path, method: :get, class: "home-form") do %>
          <!-- <div class="input-border"> -->
            <!-- <div class="form-inputs"> -->
              <!-- <h3>Je cherche un</h3> -->
              <%= select_tag :format, options_for_select(Race::FORMATS_SPORTS.values.flatten), { class: 'select_value'}%>
              <!-- <h3>près de </h3> -->
              <%= text_field_tag :address, nil, class: "drop location", placeholder: "Près de" %>
            <!-- </div> -->
          <!-- </div> -->
          <!-- <div class="form-inputs"> -->
            <!-- <h3>entre le</h3> -->
            <%= text_field_tag :from, Date.today, placeholder: 'Date de début', id: "range_start", class: "datepicker drop" %>
            <!-- <h3> et le </h3> -->
            <%= text_field_tag :to, Date.today + 3.months, placeholder: 'Date de fin', id: "range_end", class: "datepicker drop" %>
          <!-- </div> -->
          <div class="form-inputs">
            <%= submit_tag "Go", name: nil, class: 'btn-go-home' %>
          </div>
        <% end %>
        <div class="searchbar">
          <%= form_tag(races_path, method: :get) do %>
          <%= text_field_tag :pg_search_documents , nil, class: "drop", placeholder: "Search" %>
          <div class="form-inputs">
            <%= submit_tag "Go", name: nil, class: 'btn-go' %>
          </div>
          <% end %>
        </div>
      </div>
      <!-- <div class="index-searchbar">
        <%= link_to "See all adds", races_path %>
      </div> -->
    </div>
  </div>
</div>
